* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.myBtn {
  background-color: aqua;
  color:black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 59px;
}

.submit {
  background-color: rgb(13, 146, 146);
  color:black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 11px;
  padding: 5px 10px;
  border: none;
  border-radius: 59px;
}
.mainContainer {
  width: 95%;
  margin: auto;
}

.input-counter {
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  border: 1px solid grey;
  background-color: white;
  border-radius: 59px;
}